@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body,
    html {
        width: 100vw;
        min-height: 100vh;
        background: linear-gradient(135deg, #153677, #4e085f);
    }
    
    .main {
        height: auto;
        width: 100%;
        background: linear-gradient(135deg, #153677, #4e085f);
        padding: 50px;
    }
    
    .todo-app {
    
        background: #ffff;
        max-width: 540px;
        padding: 40px 30px 70px;
        border-radius: 5px;
        margin: 100px auto;
    }
    
    .todo-app h1 {
        padding: 0px 0px 20px 0px;
       
    }
    
    .row {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        background: #edeef0;
        border-radius: 30px;
        padding-left: 20px;
        margin-bottom: 25px;
    
    }
    
    #item {
      
        border: none;
        outline: none;
        padding: 10px;
        background: transparent;
        padding: 10px;
        font-size: 18px;
        max-width: 50%;
    }
    
    button {
        border: none;
        outline: none;
        padding: 16px 50px;
        background: #1cbc10;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        border-radius: 40px;
    }
    
    ul li {
        list-style-type: none;
        font-size: 17px;
        padding: 12px 8px 12px 50px;
        user-select: none;
        cursor: pointer;
        position: relative;
    }
    
    ul li::before {
        content: '';
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-image: url("uncked.png");
        background-size: cover;
        background-position: center;
        top: 12px;
        left: 8px;
    }
    
    ul li.checked {
        text-decoration: line-through;
        color: #555;
    }
    
    ul li.checked::before {
        background-image: url("checked.png");
        height: 28px;
        width: 28px;
    }
    
    ul li span {
        position: absolute;
        right: 0;
        top: 5px;
        height: 32px;
        width: 32px;
        font-size: 22px;
        color: #ffff;
        line-height: 32px;
        text-align: center;
        border-radius: 50%;
        background: #fe0000d6;
    }
    .ftr {
       
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
    
    .copyh4 {
        color: #ffff;
        font-size: 15px;
        font-weight: 100;
    }
    @media only screen and (max-width:400px){
        .main{padding:20px;}
        button{ padding: 16px 30px;}
    }
